<p>product-list works!</p>
<h3>Product List (as a table)</h3>
<div class="filter-form">
    <label for="search">Search : </label>
    <input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Filter Products">
    {{searchTerm}} <!--affiche à droite de la searchbox ce qui y est tapé-->
</div>
<div>
    <button (click)="toggleImage()">Show/Hide Images</button>
    <table *ngIf="products.length > 0; else noProductTemplate">
        <thead>
            <tr>
                <td>ID</td>
                <td *ngIf="displayImage">Image</td>
                <td>Name</td>
                <td>Code</td>
                <td>Release date</td>
                <td>Description</td>
                <td>Pricing</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of getFilteredProducts()">
                <td>{{product.id}}</td>
                <td *ngIf="displayImage"><img src={{product.imageUrl}} width="30px" /></td> <!-- [src] = "product.imageUrl" -->
                <td>{{product.productName}}</td>
                <td>{{product.productCode}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.starRating}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noProductTemplate>
        <h4>No product available!</h4>
    </ng-template>
</div>

<h3>Product List (as a list)</h3>
<ul *ngIf="products && products.length">
    <li *ngFor="let product of products">
    {{product.id}} : {{product.productName}} - {{product.productCode}} - {{product.releaseDate}} - {{product.description}} - {{product.price}} - {{product.starRating}} - {{product.imageUrl}}
    </li>
</ul>