<p>product-detail works!</p>
<div *ngIf="product$ | async as product; else noProduct">
    <div>
        ID: {{ product.id}}
    </div>
    <div>
        Name: {{ product.productName}}
    </div>
    <div>
        Description: {{ product.description}}
    </div>
    <p>
        <button type="button" (click)="goToProducts()">Go back to product</button>
        <button type="button" [routerLink]="['/products', product.id + 1]">Go to next product</button>
    </p>
</div>
<ng-template #noProduct>
    <h4>This product does not exist</h4>
    <button type="button" [routerLink]="['..']">Go back to product</button><!--same as using (click)="goToProducts()" since id is a children of produts in app-routing.module.ts-->
</ng-template>
